<h2>New Song</h2>
<form method="post" action="/songs">
  <label>Title:</label>
  <input name="title">

  <label>Album:</label>
  <input name="album">

  <label>Preview URL:</label>
  <input name="preview_url">

  <label>Artist ID:</label>
  <input name="artist_id">

  <input type="submit" value="Create Song">
</form>
