<h2>Add a New Playlist</h2>

<form action="/playlists" method="post">
    <label>Playlist name:</label>
    <input type="text" name="playlist[name]">

    <!-- <label>Add song by id:</label>
    <input type="text" name="playlist[song_id]"> -->

    <input type="submit" value="Create Playlist">
</form>
